<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">

    </head>


    <body>
    




        <header class="home-header">

            <div class="hello-header">

                <h1>Amazing App</h1>
                <h2>Hello pepito</h2>
                <button>Log out</button>

            </div>

        </header>

        <div class="menu">

            <ul class="menu">
            
                <li class="menu"><a href="index.html">nav 1</a></li>
                <li class="menu"><a href="nav2.html">nav 2</a></li>
                <li class="menu"><a href="nav3.html">nav 3</a></li>
                <li class="menu"><a href="nav4.html">nav 4</a></li>
                <li class="menu"><a href="https://www.instagram.com" target="_blank">Instagram</a></li>

            </ul>

        </div>


        <main class="home-main">


            <div class="image">

                <img src="https://cdn.pixabay.com/photo/2023/07/14/10/30/de-havilland-tiger-moth-8126721_1280.jpg" alt="Avioneta antigua" class="home-main-image">

            </div>


            <div class="home-left">

                <div>
                    <p>Hola como estas</p>
                </div>

            </div>


            <div class="home-right">
    
                <p>No me puedo quejar</p>
    
            </div>


            <div class="home-right2">
    
                <p>Estos dos siempre igual</p>

            </div>
        

        </main>

        <footer class="home-footer">

            <p>  &copy B00tc4mp, Reservado todos los derechos <a href="#">Subir arriba</a></p>

        </footer>

    </body>

</html>