*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: rgb(211, 167, 167);
    width: 97%;
}

.menu{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    background: rgb(177, 182, 37);
    border: 2px solid black;
    width: 100%;

}

.home-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: aquamarine;
    padding: 10px;
    border: 2px solid black;
    height: 10%;
    margin: 10px;
    width: 100%;
}

.hello-header{
    display: flex;
    justify-content: space-between;
    background: rgb(199, 151, 219);
    border: 2px solid black;
}

.home-main{
    height: 80%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(216, 208, 208);
    border: 2px solid black;
    justify-content:center;
}

.home-left{
    height: 25%;
    background: red;
    color: blue;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.home-right{
    height: 25%;
    background: blue;
    color: white;
    border: 2px solid black;
    padding: 5px;
}
.home-right2{
    height: 25%;
    background: rgb(28, 150, 85);
    color: rgb(226, 34, 89);
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}


.home-footer{
    height: 10%;
    display: flex;
    gap: 10px;
    background: aquamarine;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
}

.home-main-image{
    position: absolute;
    height: 20%;
    width: 20%;
    left:40%;
    right: 50%;
    border: 10px dashed rgb(197, 220, 47);
}
.image{
display: flex;
align-items: center;

}
