<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h1>GOOGLE</h1>
      <input type="text" name="" id="" />
      <input type="button" value="Buscar" />
      <div class="botones">
        <input type="submit" value="todo" />
        <input type="submit" value="imagenes" />
        <input type="submit" value="video" />
      </div>
    </header>

    <main class="main-body">
      <div>
        <h5>Cerca de 1,310,000,000 resultados (0.38 segundos)</h5>
        <span>OpenAI</span>
        <cite>https://chat.openai.com/</cite>
        <a href="https://chat.openai.com/"><h3>ChatGPT</h3></a>
        <span>Xataka</span>
        <cite>https://www.xataka.com/</cite>
        <p>
          <time> 2014</time> is an AI-powered language model developed by
          OpenAI, capable of generating human-like text based on context and
          past conversations.
        </p>
        <h3>aChatGPT: qué es, cómo usarlo</h3>
        <p>
          <time> 2013</time> es un sistema de chat basado en el modelo de
          lenguaje por Inteligencia Artificial GPT-3.5, desarrollado por la
          empresa OpenAI.
        </p>
      </div>
      <div>
        <h1>hola mundo</h1>
      </div>
    </main>

    <footer class="main-footer">
      <div>
        <button>
          cargar mas
          <svg
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
          </svg>
        </button>
      </div>
    </footer>
  </body>
</html>
