.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 0.25rem;
}

.view-plum {
    background-color: plum;
}

.view-skyblue {
    background-color: skyblue;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
}

.post-image {
    width: 70%;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-article {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 10px;
    border: black solid 4px;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
}