/*#register-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

#register-form{
    display: flex;(dispone los elementos en linea, uno al lado de otro)
    flex-direction: column;(dispone los elementos en columna)
    padding: 3 vw;(margen interno con respecto al ancho del contenedor, medida relativa del 5%)
    max-width: 350px; (ancho maximo del formulario, medida fija en pixeles. Esto sobra al poner el display flex en el contenedor padre register-view)
    box-sizing: content-box;
    gap: .5vw;(separación entre los elementos del formulario, medida relativa)
}

#login-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

#login-form{
    display: flex;(dispone los elementos en linea, uno al lado de otro)
    flex-direction: column;(dispone los elementos en columna)
    padding: 3 vw;(margen interno con respecto al ancho del contenedor, medida relativa del 5%)
    max-width: 350px;(ancho maximo del formulario, medida fija en pixeles. Esto sobra al poner el display flex en el contenedor padre register-view)
    box-sizing: content-box;
    gap: .5vw;(separación entre los elementos del formulario, medida relativa)
}*/

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.view-skyblue {
    background-color: skyblue;
}

.view-plum {
    background-color: #86e07a;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 0.50rem;
}

.post-image {
    max-width: 300px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 95%;
}

.color-a{
    color: #f30505;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;

}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: ridge 15px aqua;
    margin: 20px;
    border-radius: 25px;
}
