h1,
h2 {
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw;
    max-width: 500px;
    gap: 0.50vw;
}

.panel-lightskyblue {
    background-color: lightskyblue;
}


.name {
    font-size: 6mm;
}

.email {
    font-size: 6mm;
}

.password {
    font-size: 6mm;
}


.name-input {
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black;
}


.email-input {
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black;
}



.password-input {
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black;
}


#register {
    font-size: 6mm;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black;
}

#clear {
    font-size: 6mm;
    border-radius: 0, 75vw;
    border-width: 0.25vw;
    border-color: black
}

#login {
    font-size: 6mm;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black;
}



#login-link {
    font-size: 6mm;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: blac
}

#register-link {
    font-size: 6mm;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black
}

#logout-button {
    font-size: 6mm;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    border-color: black
}

.post-image {
    max-width: 250px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
}

.post {
    border: 1.5px solid black;
    margin: 10px;
    padding: 10px;
}