<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolphins are Great!</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="home-header">
        <div class="home-header">
            <h1>Dolphin Fan Page: The Amazing World of Dolphins</h1>
            <br>
            <p class="home-menu">Dive down our site!</h2>
            <button>
                <img src="https://imgs.search.brave.com/M2OTB9xAcbPzMKUjbYfuMCRbnkD9EF0RwNwMxdm3Mms/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tYW5v/bG9wYXN0ZWxlcmlh/cy5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMTUvMDIvbWFu/b2xpdG9zMS0zMDB4/MjAwLmpwZw" alt="MANOLITO" height="50" width="50">
                <div>Fun Facts</div>
            </button>
            <button>
                <img src="https://imgs.search.brave.com/0I-H0y_pKA74Mr4rmdax3DOGOI3bjk5MJ-D_twu9TJ8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcy/LnJ0dmUuZXMvdi81/Nzc3NTE5L3ZlcnRp/Y2FsLz9oPTQwMA" alt="manolito_haters" height="50" width="50">
                <div>Pictures</div>
            </button>
            <button>
                <img src="https://imgs.search.brave.com/5JR507Mb8T0kWCe5z2HuF0-vnTTHt_-0WbChSNgmfbU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA2/NjgvNTE3OS9wcm9k/dWN0cy9jb2NhX2Nv/bGFfbGFyZ2VfZGUx/YjJkOTgtZjIyMC00/NWU0LTgxMzYtN2Rm/NDE4MWFlYjNkXzEw/MjR4MTAyNC5qcGVn/P3Y9MTQxNTMwNzQx/Mg" alt="yooooo" height="50" width="50">
                <div>Documentaries</div>
            </button>
            <button>
                <img src="https://imgs.search.brave.com/-m12ROM7vhT1DcdZRlJKuMjK0M0qesTJHwIbT_SHuPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MzcxNTE2MDg4Mjgt/ZWEyYjExNzc3ZWU4/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREI4TUh4/elpXRnlZMmg4TVRS/OGZIQmxjbkpwZEc5/OFpXNThNSHg4TUh4/OGZEQT0mdz0xMDAw/JnE9ODA" alt="userrandom" height="50" width="50">
                <div>Save a Dolphin!</div>
                </button></p>
            </button>
        </div>
    </header>

    <main class="home-main">
       
        <div class="home-left">
            <p class="home-main-text">hola como estas</p>
        </div>
        <div class="home-right">
        </div>
    </main>

    <footer class="home-footer">
        <p>&copy;B00tc4mp</p>
        <a href="">About us</a>
    </footer>
</body>
</html>