@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter;
}

h1,
h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .container-center {
    align-items: center;
  }

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: .5rem;
    align-items: center;
}

.label {
    align-self: flex-start;
}

.input {
    background-color: lightgray;
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;
}

.button {
    background-color: lightgray;
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;
    margin: 2px;
}

.button-tomato:hover {
    background-color: tomato;
    color: white;
}

.link:hover {
    padding: 2px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.post {
    padding: 0.5rem;
}

.post:hover {
    background-color: rgb(237, 237, 237);
}

.post-image {
    max-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-post-panel {
    margin-top: 20px;
}

audio {
    display: none;
}