@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: Inter;
}

h1,
h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-center {
    align-items: center;
}


/*.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}*/

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: .5rem;
    align-items: center;
}

.label {
    align-self: flex-start;
}

.input {
    background-color: lightgray;
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;
}

.button {
    background-color: lightgray;
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;
    margin: 2px;
    border: 1px solid transparent;
}

.button:hover {
    border-color: black;
}

.link {
    padding: .5rem .5rem;
    text-decoration: none;
}

.link:hover {
    color: yellow;
    background-color: rgb(242, 131, 207);
}

.link:active {
    color: rgb(0, 170, 255);
}

.post {
    padding: 0.5rem;
}

.post:hover {
    background-color: rgb(196, 238, 239);
}

.post-image {
    max-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-post-panel {
    margin-top: 20px;
}

audio {
    display: none;
}
